<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team 254 Part Management System</title>
  <link rel="icon" href="http://team254.com/wp-content/themes/cheesypoof2013/icons/favicon.ico">
  <link href='/css/css.css' rel='stylesheet' type='text/css' />
  <link href="/css/bootstrap.min.css" rel="stylesheet"></head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Team 254 Parts</a>
        <div class="nav-collapse collapse">
          <% if @user %>
          <ul class="nav">
            <li>
              <a href="/projects"> <i class="icon-th-large icon-black"></i> Projects</a>
            </li>
            <% if @user.can_administer? %>
            <li>
              <a href="/users"> <i class="icon-th-list icon-black"></i> Users</a>
            </li>
            <% end %>
          </ul>
          <div class="pull-right">
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i>
                  <%= @user.first_name %> <%= @user.last_name %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/logout"><i class="icon-off"></i> Logout</a>
                    <a href="/change_password"><i class="icon-wrench"></i> Change Password</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <% end %></div>
      </div>
    </div>
  </div>
