<%= erb :header %>

<div class="container">
  <h2>Create User Account</h2>
  <form action="<% if @admin_new_user %>/users<% end %>" method="POST">
    <label>E-mail</label>
    <input type="text" name="email" />
    <label>First Name</label>
    <input type="text" name="first_name" />
    <label>Last Name</label>
    <input type="text" name="last_name" />
    <label>Password</label>
    <input type="password" name="password" />
    <label>Verify Password</label>
    <input type="password" name="password2" />
    <% if @admin_new_user %>
    <label>Permission</label>
    <select name="permission">
      <% User::PERMISSION_MAP.each_pair do |key, value| %>
      <option value="<%= key %>"><%= value %></option>
      <% end %>
    </select>
    <label>Enabled?</label>
    <input type="checkbox" name="enabled" checked />
    <br /><br />
    <% end %>
    <label>
      <input type="submit" class="btn btn-success btn-medium" value="Create Account"
          onclick="return verifyPasswordMatch(this.parentElement.parentElement);" />
    </label>
  </form>
</div>

<%= erb :footer %>
