<%= erb :header %>

<div class="container">
  <h2>Create New Project</h2>
  <form action="/projects" method="POST">
    <label>Name</label>
    <input type="text" name="name" />
    <label>Part number prefix</label>
    <input type="text" name="part_number_prefix" />
    <label><input type="submit" class="btn btn-success btn-medium" value="Create Project"></label>
  </form>
</div>

<%= erb :footer %>
