<%= erb :header %>

<div class="container">
  <h2>Are you sure you want to delete project <%= @project.name %>?</h2>
  <form action="" method="POST">
    <input type="submit" class="btn btn-danger btn-medium" value="Yes" />
  </form>
</div>

<%= erb :footer %>
