<%= erb :header %>

<div class="container">
  <h2>Edit Project</h2>
  <form action="" method="POST">
    <label>Name:</label>
    <input type="text" name="name" value="<%= @project.name %>" />
    <label>Part number prefix:</label>
      <input type="text" name="part_number_prefix" value="<%= @project.part_number_prefix %>" />
    <label><input type="submit" class="btn btn-primary btn-medium" value="Save" /></label>
  </form>
</div>

<%= erb :footer %>
