* {
  margin: 0;
  padding: 0;
}
body {
  background-color: White;
  font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
  font-size:90%;
  color: Black;
}
label {
  display: block;
  font-size: 110%;
  padding: 12px 0px 8px 0px;
}
entry {
  display: block;
  font-size: 110%;
  padding: 5px 0px 5px 0px;
}
input, textarea {
  clear: both;
  font-size: 140%;
  font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
  padding: 2px;
  width: 100%;
}
input.search {
  clear: both;
  font-size: 100%;
  font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
  padding: 0px;
  width: 65%;
}
input.searchbutton {
  clear: both;
  font-size: 100%;
  font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
  padding: 0px;
  width: 30%;
  float: right;
}
a {
  color: #003d4c;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration:underline;
}
#header
{
  position:fixed;
  top:0;
  right:0;
  left:0;
  background-color: #003d4c;
  color: White;
  height:60px
}
#header h1 {
  font-weight: bold;
  font-weight: normal;
  font-size: 100%;
  padding:6px;
}
#userstatus {
  float:right;
  padding: 6px 4px 0px 0px;
}
#footer {
  background-color: #003d4c;
  color: White;
  position: fixed;
  bottom:0;
  right:0;
  left:0;
  height:30px;
}
#footer h1 {
  font-weight: normal;
  font-size: 100%;
  padding: 6px;
  text-align:right;
}
#content {
  padding: 70px 20px 40px 20px;
}
table {
  background: #fff;
  border:1px solid #ccc;
  border-right:0;
  clear: both;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}
th {
  background: #f2f2f2;
  border:1px solid #bbb;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  text-align: center;
}
th a {
  background:#f2f2f2;
  display: block;
  padding: 2px 4px;
  text-decoration: none;
}
th a:hover {
  background: #ccc;
  color: #333;
  text-decoration: none;
}
table tr td {
  background: #fff;
  border-right: 1px solid #ccc;
  padding: 4px;
  text-align: center;
  vertical-align: top;
}
table tr.altrow td {
  background: #f4f4f4;
}
td.actions {
  text-align: center;
  white-space: nowrap;
}
td.actions a {
  margin: 0px 6px;
}
