label {
  font-weight: bold;
}
.label {
  cursor: default;
}
.label-status-designing {
  background-color: #38e;
}
.label-status-material {
  background-color: #f77;
}
.label-status-ordered {
  background-color: #f90;
}
.label-status-drawing {
  background-color: #bb0;
}
.label-status-ready {
  background-color: #0bb;
}
.label-status-outsourced {
  background-color: #f06;
}
.label-status-manufacturing {
  background-color: #b0b;
}
.label-status-welding {
  background-color: #99b;
}
.label-status-scotchbrite {
  background-color: #796;
}
.label-status-anodize {
  background-color: #000;
}
.label-status-powder {
  background-color: #00a;
}
.label-status-coating {
  background-color: brown;
}
.label-status-assembly {
  background-color: #666;
}
.label-status-done {
  background-color: #3d6;
}
.label-status-received {
  background-color: #3d6;
}
.label-status-open {
  background-color: #0bb;
}
.dashboard-label {
  padding: 2px 4px;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.dashboard-part {
  width: 115px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid black;
  float: left;
  margin: 3px;
  font-weight: bold;
  color: black;
}
.dashboard-status {
  margin-top: 0;
  margin-bottom: 5px;
}
.priority-0 {
  background-color: #fa4;
}
.priority-1 {
  background-color: #4a7;
}
.priority-2 {
  background-color: #aaa;
}
.table th a {
  color: black;
}
